<div class="container">
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">First Names</label>
            <input type="text" class="form-control" id="firstname" name="firstName" value="{{firstName}}" aria-describedby="emailHelp" placeholder="Enter firstname">
            {{!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> --}}
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Last Name</label>
            <input type="text" class="form-control" id="lastname" name="lastName" value="{{lastName}}" placeholder="Enter lastname">
        </div>
        <button class="btn btn-primary" id="form-submit">Submit</button>
    </form>
</div>